<div class="card-body">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
          <div class="form-group col-2">
              <label>Title</label>
              <select formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                  <option value=""></option>
                  <option value="Mr">Mr</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Miss">Miss</option>
                  <option value="Ms">Ms</option>
              </select>
              <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors.required">Title is required</div>
              </div>
          </div>

      </div>
      <div class="form-row">
        <div class="form-group col-4">
          <label class="bold">First Name</label>
          <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
        </div>
    </div>
    <div class="form-row">
      <div class="form-group col-4">
        <label>Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
    </div>

    <div class="form-row">
          <div class="form-group col-4">
              <label>Date of Birth</label>
              <input type="date" formControlName="dateofbirth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dateofbirth.errors }" />
              <div *ngIf="submitted && f.dateofbirth.errors" class="invalid-feedback">
                  <div *ngIf="f.dateofbirth.errors.required">Date of birth is required</div>
              </div>
          </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">
          <label>Annual Income</label>
          <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
      </div>
    </div>
      <div class="text-left">
          <button class="btn btn-primary mr-1">Register</button>
          <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
      </div>
  </form>
</div>
</div>
